<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Random Number</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h1>How many numbers do you wish to generate?</h1>
    <form
      action="#"
      th:action="@{/generate}"
      th:object="${generate}"
      method="post"
    >
      <p>
        <input type="text" th:field="*{numberVal}" /><input
          type="submit"
          value="Generate"
        />
      </p>
    </form>
  </body>
</html>
